.about{
    background-color: #fafafa;
    padding: 10px 180px;
}

.about__content{
  padding: 20px;
  display: flex;
  justify-content: center; 
}

.about_img{
    /* display: flex; */
   
}

.about__text{
    margin-left: 30%;
    width: 60%;
    height:100%;
    line-height: 2.5;
    background-color: #fafafa;
    color: gray;
    text-align: center; 
}
h4 {
    color: black;
} 
@media (max-width:500px){
    .about{
   width: 100%;
    }
    /* .about__content{
        padding: 20px;
        display: flex;
        justify-content: center; 
    } */

/* 
    .about__text{

        width: 100%;
        height:100%;
        background-color: #fafafa;
        color: gray;
      
    } */
}