.brand__mainPicture > img{
    margin-top: 25px;
    width: 100%;
    z-index: -1 !important;
    top: 65px;
    position: fixed !important;
    
}

@media (max-width:500px){
    body {
      z-index: -1 !important;

    }
    .brand__mainPicture > img{
      margin-top: 21%;
      width: 100%;
      z-index: -1 !important;
      margin-top: -1px;
      position: fixed !important;
      
  }
  } 