.home__mainPicture > img{
    background-position: top right;
    width: 100%;
    z-index: -1 !important;
    top: 65px;
    position: fixed !important;
}
.home__otherPhoto > img{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px  rgb(0, 0, 0, 0.75);
    padding:80px;
    width: 100%;
    margin-top:1000px;
}