.pricing{
    background-color: #fafafa;
    padding: 10px 30px;
    }

h3{
    color:black;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    text-align:left;
  
}
.pricing__paragraph{
opacity: 1!important;
padding: 20px;
padding-bottom: -10px;
display: block;
width: 60%;
padding-left: 180px;
text-align:left!important;
} 
.pricing__touchup{
    opacity: 1!important;
    padding: 20px;
    padding-bottom: -10px;
    display: block;
    width: 80%;
    padding-left: 180px;
    text-align:left!important;
}

@media (max-width:500px){
    .pricing{
    background-color: #fafafa;
    padding: 10px 30px;
    align-items: center;
    }
   
    h3{
        color:black;
    }
   .pricing__paragraph{

       opacity: 1!important;
       padding: 20px;
       font-size: 10px;
     
   } 
}