.postcare{
background-color: #fafafa;
padding: 10px 30px;
}
.row{
    padding: 40px 80px;
    line-height: 1.5em;
}

h3{
  
    line-height: 1.5em;

}
h4{
    line-height: 2.5em;
}
h5{
    line-height: 1.5em;
}

@media (max-width:500px){
    .postcare{
    background-color: white;
    margin-top: 20px; 
    padding:40px;
    display: flex;
    align-items: center;
    }
    .postcare__img{
        object-fit: cover;
        border-radius: 25px;
        height: 300px;
        width:100%;
        position: inherit;
    }
}