.PmuBrows{
    background-color: #fafafa;
    padding: 10px 30px;
    }
    ul{
    padding: 40px
    }
    h1{
    text-align: center;
    font-weight: bold;
    padding: 50px;
    }
    h4{
    text-align: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    padding: 5px ;
    }
    h5{
        
    padding: 40px 40px 0px
    }
    #h6_text{
    padding: 10px 40px 0px;
    text-align: left;
     }
     #h6_text2{
        padding: 0px 40px;
        text-align: left;
     }
    .img-fluid-PmuBrows{
    height: 500px;
    width: 80%;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;     
    }
@media (max-width:500px){
    .row{
    padding: 5px;
    margin: 5px;
    }


    .PmuBrows{
    background-color: #fafafa;
    padding: 0px;
    }
   
    .img-fluid-PmuBrows{
    object-fit: cover;
    width: 100%;
    margin: 0px;
    border-radius: 30px;
    }
    ul{
    padding: 15px;
    font-size: 10px;
    }
    h1{
    font-size:20px;
    text-align: center;
    margin: -10px;
    padding: 5px ;
    }
    h4{
    font-size: 10px;
 margin-top: 10px;
    }
    h5{
        
    padding: 5px 5px 0px;
    text-align: center;
    font-size: 10px;
    }
    h6{
    font-size: 10px;
    padding: 5px 5px;
    text-align: left;
     }


  }