.footer{
    padding: 0.5rem;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    z-index: 1;
  }


  .copyright{
    justify-content: space-evenly;
    padding-right: 25%;  
  }
  .POWERED{
    justify-content: space-evenly;
    padding-left: 25%;  
  }

a{
  color:white;
  padding: 0.5rem;

}