.haircut{
    background-color: #fafafa;
    padding: 10px 30px;
}
h3{
    color:black;
}

.haircut__img {
    object-fit: cover;
    border-radius: 25px;
    height: 600px;
    width:100%;
    position: inherit;

}

@media (max-width:500px){
    .haircut{
    background-color: white;
    margin-top: 20px; 
    padding:40px;
    display: flex;
    align-items: center;
    }
    .haircut__img{
        object-fit: cover;
        border-radius: 25px;
        height: 300px;
        width:100%;
        position: inherit;
    }
}