.haircut{
    background-color: #fafafa;
    padding: 10px 30px;
}
h3{
    color:black;
}

.haircut__img {
    object-fit: cover;
    border-radius: 25px;
    height: 600px;
    width:100%;
    position: inherit;

}